<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head') %>
  <title>Venue Owner Login</title>
</head>
<body>
  <%- include('../../partials/navBar') %>
  <div class="container">
    <%- include('../../partials/loginOwnerForm') %>
  </div>
</body>

</html>