<h1>Sign Up As A Venue Owner</h1>
<form action="/owners" method="POST">
    <div class="form-group">
      <label for="owner-name">Name</label>
      <input type="text" class="form-control" id="owner-name" name="name" required>
      <span class="input-group-btn">
      </span>          
    </div>
    <div class="form-group">
      <label for="owner-email-address">Email Address</label>
      <input type="email" class="form-control" id="owner-email-address" name="email" required>
    </div>
    <div class="form-group">
      <label for="owner-password">Password</label>
      <input type="password" class="form-control" id="owner-password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>