<h1>Sign Up As A User</h1>
<form action="/users" method="POST">
    <div class="form-group">
      <label for="user-name">Name</label>
      <input type="text" class="form-control" id="user-name" name="name" required>
      <span class="input-group-btn">
      </span>          
    </div>
    <div class="form-group">
      <label for="user-email-address">Email Address</label>
      <input type="email" class="form-control" id="user-email-address" name="email" required>
    </div>
    <div class="form-group">
      <label for="user-password">Password</label>
      <input type="password" class="form-control" id="user-password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>