<h1>User Login</h1>
<form action="/sessions/users" method="POST">
    <div class="form-group">
      <label for="user-email-address">Email Address</label>
      <input type="email" class="form-control" id="user-email-address" name="email" required>
    </div>
    <div class="form-group">
      <label for="user-password">Password</label>
      <input type="password" class="form-control" id="user-password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>