<div class="card col-md-4 col-sm-6 col-12" style="width: 18rem">
    <img class="card-img-top" src="<%= venue.img %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= venue.name %></h5>
      <p class="card-text"><%= venue.address %></p>
      <a href="/venues/<%= venue.subdirectory %>" class="btn btn-primary">Go somewhere</a>
    </div>
</div>