<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>404 Error | Venue Spaces</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="container">
        <h1>You Got A 404 Error</h1>
        <p><%= err.message %></p>
    </div>
</body>
</html>