<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <title>Venue Owner Dashboard</title>
</head>
<body>
  <%- include('../partials/navBar') %>
  <div class="container">
    <h1>Welcome <%= owner.name %></h1>
    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Log Out" />
    </form>
  </div>
</body>

</html>