<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <title>Venue Owner Sign Up | Venue Spaces</title>
</head>
<body>
  <%- include('../partials/navBar') %>
  <div class="container">
    <%- include('../partials/addOwnerForm') %>
  </div>
</body>

</html>